@model MeetUpEventPlanner.Entities.MeetUpEvent

@{
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>
<div>Id: @Model.Id</div>
<div>Cuisine: @Model.Type</div>
<div>Host: @Model.Host</div>
<div>Start Date and Time: @Model.StartDateAndTime</div>
<div>End Date And Time: @Model.EndDateAndTime</div>
<div>GuestList: @Model.GuestList</div>
<div>Location: @Model.Location</div>
<div>Message: @Model.Message</div>
<div>
    @Html.ActionLink("Home", "Index")
</div>